.error {
  height: 5em; 
  margin-top: 10px;
  overflow: hidden; 
}

.error-message {
  color: #d93025; 
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0px 8px;
  background-color: #fce8e6;
  border: 1px solid #d93025;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}